body {
    margin: 0;
    font-family: Arial;
    background: #f9f9f9;
}

header {
    background: #d10000;
    padding: 15px;
    color: white;
    text-align: center;
}

nav a {
   
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

    

.hero {
    padding: 120px;
    height: 250px;
    width:250px;
    background: #ffe5e5;
    margin: 20px;
    text-align: center;
    padding: 50px;
}

.btn, .btn2 {
    background: #d10000;
    padding: 12px 22px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

.page-title {
    text-align: center;
    background: #d10000;
    color: white;
    padding: 12px;
    margin: 20px auto;
    width: 50%;
    border-radius: 6px;
}

.form-box {
    width: 300px;
    display: block;
    margin: auto;
    padding: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.result-box {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
footer {
    background: #d10000;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
  
}